# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
#*.a

#mac os
*.DS_Store

#windows
*.exe

#XCode 
QingLibCocos2dx.xcodeproj/project.xcworkspace/
QingLibCocos2dx.xcodeproj/xcuserdata/

#java
*target*
*.jar
*.war
*.ear
*.class


#android 
proj.android/assets/
proj.android/jni/Includes.mk
proj.android/jni/Sources.mk

#proj.android/bin 除了apk全不要
proj.android/bin/class/
proj.android/bin/res/


proj.android/bin/jarlist.cache

proj.android/bin/build.prop

proj.android/bin/proguard.txt

proj.android/bin/QingLibCocos2dx-release-unsigned.apk

proj.android/bin/QingLibCocos2dx-release-unaligned.apk

proj.android/libs/armeabi/gdb.setup

proj.android/bin/QingLibCocos2dx.ap_

proj.android/bin/classes.dex
