# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#mac os
*.DS_Store

#windows
*.exe

#XCode 
QingLibCocos2dx.xcodeproj/project.xcworkspace/
QingLibCocos2dx.xcodeproj/xcuserdata/

#java
*target*
*.jar
*.war
*.ear
*.class


#android 
proj.android/assets/
proj.android/jni/Includes.mk
proj.android/jni/Sources.mk

#proj.android/bin 除了apk全不要
proj.android/bin/class/
proj.android/bin/res/


proj.android/bin/jarlist.cache
